#side-bar #my-view .cart,
#side-bar #my-view dt,
#side-bar #my-view dd li a.close,
#side-bar #my-view dd .move,
#side-bar .side-button a {
 background-image:url('//img1a.coupangcdn.com/image/coupang/common/bg_side_sprite.png');
 background-repeat:no-repeat
}
#side-bar {
 margin-left:15px;
 position:absolute;
 left:980px;
 right:0;
 top:20px;
 white-space:nowrap
}
#side-bar .promotion-banner {
 padding-bottom:10px
}
#side-bar .promotion-banner li {
 padding:10px 0 0
}
#side-bar #my-view {
 width:102px
}
#side-bar #my-view .cart,
#side-bar #my-view dt {
 width:102px;
 height:33px;
 overflow:hidden
}
#side-bar #my-view .cart {
 background-position:-31px 0;
 cursor:pointer
}
#side-bar #my-view .cart:hover {
 background-position:-31px -33px
}
#side-bar #my-view .cart a {
 display:block;
 overflow:hidden
}
#side-bar #my-view dt {
 background-position:-31px -66px
}
#side-bar #my-view .cart strong,
#side-bar #my-view dt strong {
 float:left;
 text-indent:-9999em
}
#side-bar #my-view .cart strong a {
 display:block
}
#side-bar #my-view .cart em,
#side-bar #my-view dt em {
 float:right;
 height:33px;
 padding:0 14px 0 0;
 font:bold 12px 'Arial';
 color:#3abbff;
 line-height:33px
}
#side-bar #my-view dd {
 position:relative;
 padding:15px 10px 10px;
 background-color:#fff;
 border:1px solid silver;
 border-top:0
}
#side-bar #my-view dd ul {
 height:242px
}
#side-bar #my-view dd li {
 width:80px;
 height:53px;
 position:relative;
 padding:0 0 10px 0
}
#side-bar #my-view dd li a {
 position:absolute;
 right:0;
 top:0;
 text-decoration:none;
 cursor:pointer
}
#side-bar #my-view dd img {
 display:block;
 width:78px;
 height:51px;
 border:1px solid #bec0c4
}
#side-bar #my-view dd li a strong,
#side-bar #my-view dd li a.close {
 display:none
}
#side-bar #my-view dd li a.close {
 width:13px;
 height:13px;
 background-position:0 -32px;
 text-indent:-9999em
}
#side-bar #my-view dd li.over a.view-item {
 width:217px;
 height:48px;
 background:#f1f1f1;
 border:2px solid #343c53;
 overflow:hidden
}
#side-bar #my-view dd li.over a.view-item img {
 margin:-2px -2px 0 0
}
#side-bar #my-view dd li.over a.view-item strong {
 float:left;
 width:120px;
 padding:9px 0 0 10px;
 font:normal 11px '돋움';
 color:#55575f;
 word-break:break-all;
 white-space:nowrap;
 text-overflow:ellipsis;
 overflow:hidden
}
#side-bar #my-view dd li.over a.view-item strong span {
 display:block;
 color:#0096e4;
 padding-top:2px;
 font-size:13px;
 font-weight:bold
}
#side-bar #my-view dd li.over a.view-item strong span em {
 font:bold 15px 'Arial'
}
#side-bar #my-view dd li.over a.view-item img {
 float:right
}
#side-bar #my-view dd li.over a.view-item strong,
#side-bar #my-view dd li.over a.close {
 display:block
}
#side-bar #my-view dd .paging {
 padding:10px 0 0 0;
 height:16px;
 overflow:hidden;
 font-size:11px;
 color:#7b7b7b
}
#side-bar #my-view dd .paging span {
 float:right
}
#side-bar #my-view dd .paging span.counter {
 float:left;
 padding:2px 0 0 0
}
#side-bar #my-view dd .paging strong {
 color:#0085da
}
#side-bar #my-view dd .move {
 float:left;
 width:16px;
 height:16px;
 text-indent:-9999em
}
#side-bar #my-view dd .prev {
 background-position:0 0
}
#side-bar #my-view dd .prev:hover {
 background-position:0 -16px
}
#side-bar #my-view dd .next {
 width:15px;
 background-position:-16px 0
}
#side-bar #my-view dd .next:hover {
 background-position:-16px -16px
}
#side-bar #my-view .no-item {
 height:158px;
 padding:110px 0 0 0;
 text-align:center;
 font-size:11px;
 color:#929292;
 line-height:160%
}
#side-bar .side-button {
 padding:5px 0 0 0
}
#side-bar .side-button a {
 display:block;
 width:50px;
 height:32px;
 text-indent:-9999em
}
#side-bar .side-button .top {
 height:33px;
 background-position:-150px 0
}
#side-bar .side-button .bottom {
 background-position:-150px -140px
}
#side-bar .side-button .up {
 background-position:-150px -33px
}
#side-bar .side-button .down {
 background-position:-150px -65px
}
.side-fix #my-view {
 position:fixed;
 left:50%;
 top:10px;
 margin-left:505px
}
.side-fix .side-button {
 position:fixed;
 left:50%;
 top:454px;
 margin-left:505px
}
.side-stay .side-button {
 position:absolute;
 margin-left:60px !important
}
#side-bar.wideB {
 z-index:6
}
#side-bar.wideB .side-button {
 display:none
}
#side-bar.wideB.side-fix .side-button {
 left:auto;
 right:10px
}
#side-bar.wideB.side-stay .side-button {
 position:absolute;
 right:10px
}
#side-bar.bestCategory #my-view {
 position:static
}
#side-bar.bestCategory .side-button {
 top:auto;
 bottom:50px;
 display:none
}
#side-bar.bestCategory .side-button .up {
 display:none
}
#side-bar.bestCategory .side-button .down {
 display:none
}
#side-bar.bestCategory .side-button a {
 background:url('//img1a.coupangcdn.com/image/coupang/main/categoryBest/top.png') no-repeat;
 width:42px
}
#side-bar.bestCategory .side-button .top {
 height:42px
}
.left-banner {
 float:left;
 position:absolute;
 left:0;
 top:0
}
.side-left-bar {
 position:relative;
 margin-left:-117px;
 top:225px;
 white-space:nowrap;
 z-index:6
}
.side-left-bar.side-fix {
 position:fixed;
 top:25px
}
.card-event {
 position:absolute;
 left:117px;
 margin-top:-150px
}
.left-menu-banner {
 float:left;
 position:absolute;
 left:0;
 top:0
}
.side-left-menu-bar {
 position:relative;
 margin-left:-165px;
 top:850px;
 white-space:nowrap;
 z-index:2
}
.side-left-menu-bar.side-fix {
 position:fixed;
 top:110px
}
