@font-face {
	font-family: NanumGothic;
	src: local("?"), url(../imgs/nanum.woff) format("woff"), url(../imgs/nanum.ttf) format("truetype");
}
* {
	margin: 0px; padding: 0px; vertical-align: middle;
}
body {
	background-position: top; margin: 0px; padding: 0px; color: rgb(102, 102, 102); /* font-family: "Dotum", Arial,serif; */ font-size: 1em; background-image: url("../imgs/body_back.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
img {
	border: currentColor; border-image: none;
}
a {
	color: rgb(102, 102, 102); text-decoration: none;
}
a:hover {
	color: rgb(255, 102, 0); text-decoration: none;
}
.clear {
	clear: both;
}
/* 
header {
	margin-top: 20px;
}
header #logo {
	margin-left: 10px; float: left;
}
header #head_link {
	font-size: 0.75em; margin-right: 10px; float: right;
}
header #head_link ul {
	list-style: none;
}
header #head_link li {
	padding: 0px 8px; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid; float: left;
}
#head_link .no_line {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
header #search {
	margin: 20px 10px 0px 0px;   float:right; padding: 0px; text-align: center; width:55%; height:50px; margin:30px auto 20px 60px;
	border:3px solid #4285f4; position:relative; display:inline-block;
}
header #search .main_input {
	padding: 0px 5px; border: 3px solid rgb(51, 102, 153); border-image: none; width: 260px; height: 22px;
}
header #search .btn1 {
	border: 1px solid rgb(51, 102, 153); border-image: none; width: 55px; height: 28px; color: rgb(255, 255, 255); margin-left: 2px; background-color: rgb(51, 102, 153);
} */
/* ------------------------------------------------------------------------------------------------------- */

#outer_wrap {
	margin: 0px auto; padding: 0px; /* width: 1450px; */
}
#wrap {
	margin: 0px auto; padding: 0px; width: 1450px;/*  float: left; */
}
header {
	margin-top: 20px; height:auto;
}
header #logo {
	margin-left: 40px; float: left;
	/* height:75px;
	width:75px; */
}
header #logoImg {
	width:200px;
}
header #head_link {
	font-size: 0.75em; margin-right: 10px; float: right; height:19px;
}
header #head_link ul {
	list-style: none;
}
header #head_link li {
	padding: 0px 8px; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid; float: left; 
}
header #head_link li :hover{
	text-decoration: none;
	color:black;
}
#head_link .no_line {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
header #search {
	/* margin: 20px 10px 0px 0px;   float:right;*/ padding: 0px; text-align: center; width:55%; height:50px; margin:30px auto 20px 60px;
	border:3px solid #4285f4; position:relative; display:inline-block;
}
header #search .main_input {
	padding: 0px 5px; border: 3px solid rgb(51, 102, 153); border-image: none; width: 260px; height: 22px;
}
header #search .btn1 {
	border: 1px solid rgb(51, 102, 153); border-image: none; width: 55px; height: 28px; color: rgb(255, 255, 255); margin-left: 2px; background-color: rgb(51, 102, 153);
}
.myPageLogo{
	width:50px;
	display:inline;
}
#menu{
	margin-top:10px;
	margin-bottom:10px;
    height: 38px;
	border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
    font-size: 12px;
    zoom: 1;
}
#menu div{
	margin-top:10px;
	margin-left:50px;
	font-size: 12px;
	font-weight:bold;
}
#myPage{
	display:inline-block;
	margin-left:50px;
}
#myPage ul li{
	display:inline;
	margin-left:30px;
}
#myPage ul{
	margin-bottom:0;
	display:inline;
}


/* ------------------------------------------------------------------------------------------------------- */
.footerContainer{
	border-top:2px solid #ddd; padding-top:20px; margin-bottom:100px;
}
footer {
	background-position: top; margin: 10px 0px 0px; font-size: 0.75em; background-image: url("../imgs/foo_back.gif"); background-repeat: repeat-x;
}
footer ul {
	list-style: none; margin: 0px 0px 0px 210px;
}
footer ul li {
	background-position: right; font-family: "NanumGothic", Serif; float: left; background-image
	: url("../imgs/foot_line.gif"); background-repeat: no-repeat;
}
footer ul li.no_line {
	background-image: none;
}
footer ul li a {
	padding: 5px 15px; font-size: 1.1em; display: block;
}
footer img {
	margin: 10px 0px 0px 40px; width: 150px;
}

#suggest{
display:none; position: absolute; left: 830px; top:80px; border: 0.1px  solid #87cb42; z-index:3;font-weight: bold;background-color:#ffffff; 	
	
}

.show_row_line{
	margin: 0px; padding: 10px 0px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px;    border-bottom-style: dotted;
}

.del_row_line{
	margin: 0px; padding: 10px 0px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px;     border-bottom-style: none;border-top-style:solid; border-top-width: 1px;border-top-color:#ffffff;
}
